@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-wrapper {
  display: flex;
  animation: scroll 40s linear infinite;
}

.scrolling-container:hover .scrolling-wrapper {
  animation-play-state: paused;
}
